body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
}

.box {
  height: 180px;
  width: 180px;
  margin: 1px;
  border: px solid black;
  background-color: rgb(42, 97, 148);
  background-image: linear-gradient(
    to right,
    rgb(42, 97, 148),
    rgb(82, 137, 188)
  );
  font-style: bold;
  font-size: 10em;
  justify-content: center;
}

.winner {
  border: 5px outset red;
}

#header {
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-family: 'Courier New', Courier, monospace;
}

.row {
  display: flex;
  justify-content: center;
}

.box:hover {
  background-image: linear-gradient(
    to left,
    rgb(42, 97, 148),
    rgb(82, 137, 188)
  );
}

#winner {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
}

#resetButtonContainer {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#resetButton {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-image: repeating-radial-gradient(white, red);
  font-size: 150%;
}
#resetButton:hover {
  background-image: repeating-radial-gradient(white, rgb(255, 43, 43));
}
